@model BoardGameGallery.Models.BoardGame[]

@{
    ViewBag.Title = "Board Games";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var boardGame in Model)
    {
        <div class="col-md-3">
            <h4>
                @Html.ActionLink(boardGame.Title, "Detail", new { id = boardGame.Id })
            </h4>
            <a href="@Url.Action("Detail", new { id = boardGame.Id })">
                <img src="/Images/@boardGame.ImageName"
                     alt="@boardGame.Title"
                     class="img-responsive" />
            </a>
        </div>
    }
</div>